.Card {
  width: 9em;
  height: 13em;
  background-color: aqua;
  color: red;
  font-size: large;
  margin: 1em;
  border-radius: 5px;
}

.pattern {
  width: 2em;
  align-self: center;
}

.top {
  justify-content: start;
  display: flex;
}

.bottom {
  justify-content: end;
  display: flex;
  margin: 0;
}
